$bgc: #E5EEFF;
$adBgc: #020253;
$formBgc: #8E097C;
$turquoise: #0EE1DA;
$h4Color: #F9F9F9;
$white: #FFFFFF;
$lightGray: #00000029;
$darkBlue: #011560;

$h1Text: normal normal bold 3.8rem Assistant;
$h1TextMobile: normal normal bold 2.8rem Assistant;
$h3Text: normal normal bold 2.2rem Assistant;
$h3TextMobile: normal normal bold 1.8rem Assistant;
$h4Text: normal normal normal 1.25rem Assistant;
$labelText: normal normal bold 1rem Heebo;
$btnText: normal normal bold 1.5rem Heebo;
$btnLetterSpacing: 0.023rem;