$dirtyYellow: #D3E10E;
$headerText: normal normal bold 5.3rem Assistant;
$descriptionText: normal normal normal 1.25rem Assistant;
$descriptionColor: #F9F9F9;
$inputBgc: #F6F6F6;
$labelText: normal normal bold 1rem Assistant;
$labelColor: #011560;
$btnText: normal normal bold 1.4rem Assistant;
$btnLetterSpacing: 0.021rem;